*{
    margin: 0px;
    overflow: hidden;
}
#total_cost{
    margin: 10px 0px 0px 945px;
}
.continue_ship{
    height: 20px;
    margin: 10px 0px 0px 915px;;
}
div.main_container{
    margin: 0px;
}
    div.main_container div.header{
    margin: 0px;
       padding: 10px;
       width: 100%;
       height: 40px;
       border: 1px solid black;
       background-color: black;
       color: white;
    }
    div.main_container div.header h1{
       display: inline-block;
    }
    div.main_container div.header #name_store{
        margin: 0px 1000px 0px 0px;
    }
    div.main_container div.header p{
       display: inline-block;
       vertical-align: top;
       margin: 8px 0px 0px 850px;
       font-weight: bold;
    }
    div.main_container div.header a{
       display: inline-block;
       vertical-align: top;
       margin: 0px 0px 0px 10px;
       text-decoration: none;
       cursor: pointer;
       color: white;
    }
    div.main_container div.header h4{
        margin: 0px 0px 0px 10px;
     }  

div.main_container div.content{
    padding: 20px;
    margin: 0px;
}
    div.main_container div.content table{
        width: 800px;
        border-collapse: collapse;
        margin: 20px 0px 0px 200px;
    }
    div.main_container div.content th{
        border: 1px solid black;
        padding: 10px;
    }

    div.main_container div.content td{
        border: 1px solid black;
        padding: 5px;
    }

div.main_container div.shipping_info{
    margin: 0px;
    padding: 50px;
}
    div.main_container div.shipping_info div.ship_1{
        border: 1px solid black;
        width: 500px;
        min-height: 300px;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        margin: 0px 0px 0px 300px;
    }
        div.main_container div.shipping_info div.ship_1 form{
            margin: 20px 0px 0px 0px;
        }
        div.main_container div.shipping_info div.ship_1 input{
            width: 200px;
            height: 30px;
            margin: 5px;
            font-size:13px ;
            font-weight: bold;
            /* display: inline-block; */
        }
        div.main_container div.shipping_info div.ship_1 h2{
            display: inline-block;
        }
        div.main_container div.shipping_info div.ship_1 .bill_checkbox{
            display: inline-block;
            vertical-align: top;
            width: 15px;
        }
